<div class="table-viewer annotation" *ngFor="let annotation of getAnnotations(); let i = index;" [ngClass]="{'active': activeIds.indexOf(annotation.id) > -1, 'no-timestamps': false == showTimestamps }" [ngStyle]="getWidth()" (click)="activateAnnotation(annotation.id)">
    <div class="table-viewer-tr">{{ i + 1 }}</div>
    <div class="table-viewer-tr">{{ annotation.value }}</div>
    <div class="table-viewer-tr" *ngIf="showTimestamps">{{ showStartTime(annotation) }}</div>
    <div class="table-viewer-tr" *ngIf="showTimestamps">{{ showEndTime(annotation) }}</div>
    <div class="table-viewer-tr" *ngIf="showTimestamps">{{ showDurationTime(annotation) }}</div>
</div>
<div class="table-viewer empty annotation" [ngStyle]="getWidth()" *ngIf="empty == true">
    <div class="table-viewer-tr">included-tier contains no annotations</div>
</div>
