<div class="table-viewer annotation" [ngClass]="{'active': activeIds.indexOf(id) > -1 }">
  <ng-template [ngIf]="tier.annotations.get(id).type === 'ref' && tier.annotations.get(id).ref !== null">
    <div class="table-viewer-tr">{{ row }}</div>
    <div class="table-viewer-tr">{{ tier.annotations.get(id).value }}</div>
    <div class="table-viewer-tr">
      <ng-template [ngIf]="tier.annotations.get(id).custom_start && showTimestamps == true">
        {{ formatDuration(tier.annotations.get(id).custom_start.time) }}
      </ng-template>
    </div>
    <div class="table-viewer-tr">
      <ng-template [ngIf]="tier.annotations.get(id).custom_end && showTimestamps == true">
        {{ formatDuration(tier.annotations.get(id).custom_end.time) }}
      </ng-template>
    </div>
    <div class="table-viewer-tr">
      <ng-template [ngIf]="tier.annotations.get(id).custom_start && tier.annotations.get(id).custom_end && showTimestamps == true">
        {{ formatDuration(getDuration(tier.annotations.get(id).custom_start, tier.annotations.get(id).custom_end)) }}
      </ng-template>
    </div>
  </ng-template>
</div>
