<div *ngIf="tier">
    <div *ngFor="let iter of tier.annotations | keyvalue: annotationOrder; let i = index;">
        <div *ngIf="iter.value.value; let annotation" (click)="activateAnnotation(annotation.id)" [ngStyle]="getWidth()">
            <div class="table-viewer annotation" [ngClass]="{'active': activeIds.indexOf(annotation.id) > -1 }" *ngIf="annotation.type === 'ref' && annotation.ref !== null">
                <div class="table-viewer-tr">{{ i + 1 }}</div>
                <div class="table-viewer-tr">{{ annotation.value }}</div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.custom_start && showTimestamps == true">
                        {{ formatDuration(annotation.custom_start.time) }}
                    </span>
                </div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.custom_end && showTimestamps == true">
                        {{ formatDuration(annotation.custom_end.time) }}
                    </span>
                </div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.custom_start && annotation.custom_end && showTimestamps == true">
                        {{ formatDuration(getDuration(annotation.custom_start, annotation.custom_end)) }}
                    </span>
                </div>
            </div>
            <div class="table-viewer annotation" [ngClass]="{'active': activeIds.indexOf(annotation.id) > -1 }" *ngIf="annotation.type === 'alignable' && annotation.custom_start === null">
                <div class="table-viewer-tr">{{ i + 1 }}</div>
                <div class="table-viewer-tr">{{ annotation.value }}</div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.start">
                        {{ formatDuration(annotation.start.time) }}
                    </span>
                </div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.end">
                        {{ formatDuration(annotation.end.time) }}
                    </span>
                </div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.start && annotation.end">
                        {{ formatDuration(getDuration(annotation.start, annotation.end)) }}
                    </span>
                </div>
            </div>
            <div class="table-viewer annotation" [ngClass]="{'active': activeIds.indexOf(annotation.id) > -1 }" *ngIf="annotation.type === 'alignable' && annotation.custom_start !== null">
                <div class="table-viewer-tr">{{ i + 1 }}</div>
                <div class="table-viewer-tr">{{ annotation.value }}</div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.custom_start">
                        {{ formatDuration(annotation.custom_start.time) }}
                    </span>
                </div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.custom_end">
                        {{ formatDuration(annotation.custom_end.time) }}
                    </span>
                </div>
                <div class="table-viewer-tr">
                    <span *ngIf="annotation.custom_start && annotation.custom_end">
                        {{ formatDuration(getDuration(annotation.custom_start, annotation.custom_end)) }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
