<div class="table-viewer annotation" [ngClass]="{'active': activeIds.indexOf(id) > -1 }">
  <ng-template [ngIf]="tier.annotations.get(id).type === 'ref' && tier.annotations.get(id).ref !== null">
    <div class="table-viewer-tr">{{ row }}</div>
    <div class="table-viewer-tr">{{ tier.annotations.get(id).value }}</div>
    <div class="table-viewer-tr"><span *ngIf="tier.annotations.get(id).custom_start">{{ formatDuration(tier.annotations.get(id).custom_start.time) }}</span></div>
    <div class="table-viewer-tr"><span *ngIf="tier.annotations.get(id).custom_end">{{ formatDuration(tier.annotations.get(id).custom_end.time) }}</span></div>
    <div class="table-viewer-tr"><span *ngIf="tier.annotations.get(id).custom_start && tier.annotations.get(id).custom_end">{{ formatDuration(getDuration(tier.annotations.get(id).custom_start, tier.annotations.get(id).custom_end)) }}</span></div>
  </ng-template>
  <ng-template [ngIf]="tier.annotations.get(id).type === 'alignable'">
    <div class="table-viewer-tr">{{ row }}</div>
    <div class="table-viewer-tr">{{ tier.annotations.get(id).value }}</div>
    <div class="table-viewer-tr"><span *ngIf="tier.annotations.get(id).start && showTimestamps == true">{{ formatDuration(tier.annotations.get(id).start.time) }}</span></div>
    <div class="table-viewer-tr"><span *ngIf="tier.annotations.get(id).end && showTimestamps == true">{{ formatDuration(tier.annotations.get(id).end.time) }}</span></div>
    <div class="table-viewer-tr"><span *ngIf="tier.annotations.get(id).start && tier.annotations.get(id).end && showTimestamps == true">{{ formatDuration(getDuration(tier.annotations.get(id).start, tier.annotations.get(id).end)) }}</span></div>
  </ng-template>
</div>
