<div *ngIf="!((eafStore.state$ | async).tier)">
    <app-loading></app-loading>
</div>
<div *ngIf="(eafStore.state$ | async).tier">
    <ng-template [ngIf]="mediaSource && mediaSource.audio == false">
        <app-video #videoPlayer url="{{ mediaSource.url }}" mimetype="{{ mediaSource.mimetype }}" (progress)="progressTracker($event)" width="{{ this.width }}"></app-video>
    </ng-template>
    <ng-template [ngIf]="mediaSource && mediaSource.audio == true">
        <app-video #videoPlayer url="{{ mediaSource.url }}" mimetype="{{ mediaSource.mimetype }}" (progress)="progressTracker($event)" width="{{ this.width }}"></app-video>
    </ng-template>
    <div>

        <select class="media-selector" (change)="changeMedia($event)" [ngStyle]="{ 'width': width + '%'}">
            <option *ngFor="let iter of (eafStore.state$ | async).eaf.header.media" [value]="iter.audio == false ? 'video' : 'audio'">{{ iter.mimetype }}</option>
        </select>
    </div>
    <div>
        <select class="tier-names" (change)="changeTier($event)" [ngStyle]="{ 'width': width + '%'}">
            <option *ngFor="let iter of ((eafStore.state$ | async).eaf.tiers) | keyvalue: tierOrder" [value]="iter.value.value.id">{{ iter.value.value.id }}</option>
        </select>
    </div>
    <div class="table-viewer" [ngStyle]="getDimensions()">
        <div class="th">Nr</div>
        <div class="th">Annotation</div>
        <div class="th"><span *ngIf="showTimestamps == true">Begin Time</span></div>
        <div class="th"><span *ngIf="showTimestamps == true">End Time</span></div>
        <div class="th"><span *ngIf="showTimestamps == true">Duration</span></div>
    </div>
    <div *ngFor="let iter of ((eafStore.state$ | async).tier.annotations) | keyvalue: annotationOrder; let i = index" (click)="activateAnnotation(iter.value.value.id)" [ngStyle]="getDimensions()">
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'toplevel'">
            <app-toplevel row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-toplevel>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Symbolic_Subdivision'">
            <app-symbolic-subdivision row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-symbolic-subdivision>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Symbolic_Association'">
            <app-symbolic-association row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-symbolic-association>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Time_Subdivision'">
            <app-time-subdivision row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-time-subdivision>
        </ng-template>
        <ng-template [ngIf]="(eafStore.state$ | async).tier.linguistic_type === 'Included_In'">
            <app-included-in row="{{ i + 1 }}" id="{{ iter.value.value.id }}"></app-included-in>
        </ng-template>
    </div>
</div>
