<div *ngIf="null === tier || null === eaf">
    <app-loading></app-loading>
</div>

<div *ngIf="null !== tier && null !== eaf">

    <div *ngIf="0 === eaf.header.media.count()">No streaming media source available or accessible.</div>
    <app-media-player #mediaPlayer (progress)="progressTracker($event)" *ngIf="mediaSource"></app-media-player>
    <div>
        {{ showTimestamps ? 'Hide' : 'Show' }} timestamps <input type="checkbox" (change)="toggleShowTimestamps($event)" />
    </div>
    <div class="select-block" *ngIf="eaf.header.media.count() > 1" [ngStyle]="getWidth()">
        <span>Select media:</span>
        <select class="media-selector" (change)="changeMedia($event)">
            <option *ngFor="let iter of eaf.header.media.media()" [value]="iter.id">{{ iter.filename }}</option>
        </select>
    </div>

    <div class="select-block" [ngStyle]="getWidth()">
        <span>Select tier:</span>
        <select class="tier-names" (change)="changeTier($event)">
            <option *ngFor="let iter of eaf.tiers | keyvalue: tierOrder" [value]="iter.value.value.id">{{ iter.value.value.id }}</option>
        </select>
    </div>

    <div class="table-viewer" [ngStyle]="getWidth()">
        <div class="th">Nr</div>
        <div class="th">Annotation</div>
        <div class="th"><span *ngIf="showTimestamps == true">Begin Time</span></div>
        <div class="th"><span *ngIf="showTimestamps == true">End Time</span></div>
        <div class="th"><span *ngIf="showTimestamps == true">Duration</span></div>
    </div>

    <app-toplevel *ngIf="tier.linguistic_type === 'toplevel'" (annotationActivated)="setPlayTime($event)"></app-toplevel>
    <app-symbolic-association *ngIf="tier.linguistic_type === 'Symbolic_Association'" (annotationActivated)="setPlayTime($event)"></app-symbolic-association>
    <app-symbolic-subdivision *ngIf="tier.linguistic_type === 'Symbolic_Subdivision'" (annotationActivated)="setPlayTime($event)"></app-symbolic-subdivision>
    <app-time-subdivision *ngIf="tier.linguistic_type === 'Time_Subdivision'" (annotationActivated)="setPlayTime($event)"></app-time-subdivision>
    <app-included-in *ngIf="tier.linguistic_type === 'Included_In'" (annotationActivated)="setPlayTime($event)"></app-included-in>
</div>
