<div *ngIf="loading == true">
    <app-loading></app-loading>
</div>

<div *ngIf="error == true">
    <app-error></app-error>
</div>


<div *ngIf="loading == false && error == false">

    <div *ngIf="0 === eaf.header.media.count()">No streaming media source available or accessible.</div>
    <app-media-player #mediaPlayer (progress)="progressTracker($event)" *ngIf="mediaSource"></app-media-player>
    <div>
        <span class="offset-block" *ngIf="mediaSource && mediaSource.offset > 0">Offset: {{ getMediaSourceOffset() }}</span>
        <span *ngIf="mediaSource && mediaSource.offset > 0"> | </span>
        <span>{{ showTimestamps ? 'Hide' : 'Show' }} timestamps <input type="checkbox" (change)="toggleShowTimestamps()" /></span>
    </div>
    <div class="select-block" *ngIf="eaf.header.media.count() > 1" [ngStyle]="getWidth()">
        <span>Select media:</span>
        <select class="media-selector" (change)="changeMedia($event)">
            <option *ngFor="let iter of eaf.header.media.media()" [value]="iter.id">{{ iter.filename }}</option>
        </select>
    </div>

    <div class="select-block" [ngStyle]="getWidth()">
        <span>Select tier:</span>
        <select class="tier-names" (change)="changeTier($event)">
            <option *ngFor="let iter of eaf.tiers | keyvalue: tierOrder" [value]="iter.value.value.id">{{ iter.value.value.id }}</option>
        </select>
    </div>

    <div class="table-viewer" [ngStyle]="getWidth()">
        <div class="th">Nr</div>
        <div class="th">Annotation</div>
        <div class="th" *ngIf="showTimestamps">Begin Time</div>
        <div class="th" *ngIf="showTimestamps">End Time</div>
        <div class="th" *ngIf="showTimestamps">Duration</div>
    </div>

    <app-toplevel *ngIf="tier.linguistic_type === 'toplevel'" (annotationActivated)="setPlayTime($event)"></app-toplevel>
    <app-symbolic-association *ngIf="tier.linguistic_type === 'Symbolic_Association'" (annotationActivated)="setPlayTime($event)"></app-symbolic-association>
    <app-symbolic-subdivision *ngIf="tier.linguistic_type === 'Symbolic_Subdivision'" (annotationActivated)="setPlayTime($event)"></app-symbolic-subdivision>
    <app-time-subdivision *ngIf="tier.linguistic_type === 'Time_Subdivision'" (annotationActivated)="setPlayTime($event)"></app-time-subdivision>
    <app-included-in *ngIf="tier.linguistic_type === 'Included_In'" (annotationActivated)="setPlayTime($event)"></app-included-in>

</div>
